@media (min-width: 200px) and (max-width: 460px){
    section#iconsRedesSociais {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section#imagemTelefone {
        margin-top: 30px;
        width: 250px;
        height: 500px;
    }
    iframe#tela {
        position: relative;
        top: 66px;
        left: 19px;
        width: 214px;
        height: 376px;
    }
}
